html{
    background-color: black;
}

body{
    color: white;
}
h1 {
    color: darkred;
    text-align: center;
}

#songForm {
    text-align: center;
    width:100%;
}

footer{
    color: white;
}

#songs{
    width: 100%;
}

#votingPicUp{
    width: 100px;
}
#votingPicDown{
    width: 100px;
}