<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- include css in the header -->
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{DJInterface.css}"/>
        <title> Club IoT </title>
    </head>
    
    <body>
        <h1>Club IoT</h1>
        
        <div id="playingSong">
        <p>playing song: </p>
        </div>

        <div id="voting">
        <p>Voting</p>
        <img id="votingPicUp" src="Images/like.png" alt="like">
        <img id="votingPicDown" src="Images/dislike.png" alt="dislike">
        <p> number of votes </p> <br> <br>
        </div>

        <form id="songForm" th:action="@{/home/submit}" th:object="${selectedSong}" method="post">
            <select multiple>
                <option th:each="songs : ${songs}"
                        th:value="${songs}"
                        th:text="${songs}"
                ></option>
            </select>
            <br><br>
            <button id="playButton" type="submit" th:value="selectedSong">Selected Song</button>
            <br><br>
        </form>
    </body>
    
    
    <footer>
        <!--<div class="container mt-5">-->
        <p class="mt-5" align="center" >© 2020 Copyright: I-Distributed AI </p>
        <!--</div>-->
    </footer>
</html>