<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{DJInterface.css}"/>
    <title> Club IoT </title>
</head>
    
<script src="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.js"></script>
    
<body>
        <h1>Club IoT</h1>
        <h2 style="text-align: center">Manager Interface</h2>

        <p> Best performing song: <span th:text="${highScoreSong}"></span> with approval of <span th:text="${highApproval}"></span></p>

        <hr>
        <p th:each="song : ${allSongNamesAndScores}"
           th:text="${song}"></p>
        <hr>
</body>
    
    <footer>
        <!--<div class="container mt-5">-->
        <p class="mt-5" align="center" >© 2020 Copyright: I-Distributed AI </p>
        <!--</div>-->
    </footer>
</html>